
@{
    ViewData["Title"] = "Index";
}

<div class="bg-light" style="min-height: 100vh">
    <div class="container">

        <a class="btn btn-primary m-4" asp-area="" asp-controller="Sale" asp-action="Add">Add</a>

        <div class="bg-white">
            <div class="text-center py-2">
                <p class="h1"><b>Invoice</b></p>
            </div>

            <div class="d-flex justify-content-between px-5 py-2">
                <div>
                    <p><b><u>ABC Company</u></b></p>
                    <p>Customer Name</p>
                    <p>Address</p>
                    <p>Phone</p>
                </div>
                <div class="mx-5 px-5">
                    <p class="text-center h4"><b>Sales Invoice</b></p>
                    <div class="spBox px-4 py-2" style="border: 1px solid black;">
                        <p class="justify-content-center">Invoice No: 456</p>
                        <p class="justify-content-center">Date: 23 Jan 2015</p>
                        <p class="justify-content-center">Amount: 505.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white py-1 px-5 mb-3">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total</th>
                    </tr>
              </thead>
              <tbody>
                    <tr class="table-info">
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

